*.exe
*.msi
SVPM (Portable).zip
/SVPM-Starlit-Virtual-Pc-Manegement/.vs
/SVPM-Starlit-Virtual-Pc-Manegement/.idea
/SVPM-Starlit-Virtual-Pc-Manegement/.idea/.idea.SVPM-Starlit-Virtual-Pc-Manegement/.idea
/SVPM-Starlit-Virtual-Pc-Manegement/SVPM-Starlit-Virtual-Pc-Manegement/bin
/SVPM-Starlit-Virtual-Pc-Manegement/SVPM-Starlit-Virtual-Pc-Manegement/obj
/SVPM-Starlit-Virtual-Pc-Manegement/Setup1
/SVPM-Starlit-Virtual-Pc-Manegement/Setup1/Release
