./SVPM-Starlit-Virtual-Pc-Manegement/SVPM-Starlit-Virtual-Pc-Manegement/bin/
./SVPM-Starlit-Virtual-Pc-Manegement/SVPM-Starlit-Virtual-Pc-Manegement/obj/
./SVPM-Starlit-Virtual-Pc-Manegement/Setup1/
./SVPM-Setup.exe
./SVPM-Setup.msi
./SVPM (Portable).zip



